/* style.css */
.navbar {
    background-color:pink
    align-items: left;
    display: flex; 
    justify-content: space-evenly;
    padding: 30px 20px; 
    

}
.navbar ul li { 
    list-style-type: none;
    display: inline-block;
}
.navbar li a {
    text-decoration: none;
    padding: 15px 5px;
}


.Content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 13px;
    padding: 10px;
  }
.facts-container {
    text-align: center;
    margin: auto;   
}
.class-info {
    border:12px solid pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 {
    font-size: 30px;
    text-align: center;
    float:center;
}
h2 { font-size: 26px;
    text-align: center;
    width: 300px;
    padding: 50px;
    margin: auto;
    border:12px solid pink;
   }
h1 {font-size: 30px;
    text-align: center;
    font-family: Eczar;}

p2 {font-size: 30px;
font-family:Lobster;}
  }

h3 {font-family:Lobster;
    font: size 35px;}

h3 {font-size: 40px;
    margin: 120px;
    padding-left: 70px;
    padding-right: 70px;
    display:inline-block;

}


section > h3 {color:black

}
body 
    {background-image: url("pink\ sky.jpg");
    background-size: cover;
   
}
h4  {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    text-align:center;

    }

